<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<hi>Welcome to my python project</h1>
				<p>My Name is Steve, I built this project for <a href="http://www.onemonth.com">One Month Python.</a></p>
				<a href="{{ url_for('index') }}">Back to homepage</a>
			</div>
		</div>
	</body>
</html>
